%h1 Listing demos

%table
  %thead
    %tr
      %th Title
      %th User
      %th
      %th
      %th

  %tbody
    - @demos.each do |demo|
      %tr
        %td= demo.title
        %td= demo.user
        %td= link_to 'Show', demo
        %td= link_to 'Edit', edit_demo_path(demo)
        %td= link_to 'Destroy', demo, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Demo', new_demo_path
